body {
  display: contents;
}

.navbar {
  /*text-align: right;*/
  float: right;
  margin: 10px;
}

.nav-item {
  text-decoration: none; /*a태그 언더라인 제거*/
  color: black;
  margin-right: 15px;
}

.nav-item:hover { /*마우스 올리면*/
  text-decoration: underline; /*밑줄*/
}

.middle-area {
  text-align: center;
  margin-top : 335px;
}

.input-box {
  width: 584px;
  height: 46px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding-left:45px;
  padding-right:45px;
}

.search-icon {
  position: relative;
  left: 40px;
  color: #9aa0a6;
}

.mic-icon {
  position: relative;
  right: 40px;
  color: #9aa0a6;
}

.button-style {
  height: 36px;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  color: #3c4043;
  padding: 0 16px;
  margin: 11px 4px;
}

.button-style:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.language-area {
  margin-top: 18px;
}

.language {
  text-decoration: none; /*a태그 언더라인 제거*/
  color: #1a0dab;
  margin-right: 15px;
}

.language:hover { /*마우스 올리면*/
  text-decoration: underline; /*밑줄*/
}

.bottom-area {
  position: absolute;
  bottom: 0px;
  background: #f2f2f2;
  width: 100%;
}

.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}

.second-line {
  padding: 15px 30px;
  font-size: 15px;
  color: #70757a;
}

.second-line a {
  text-decoration: none;
  color: #70757a;
  padding-right: 15px;
}

.second-line-right {
  float: right;
}

.second-line a:hover {
  text-decoration: underline;
}
